<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="com.test.springlecture" level="DEBUG"/>
    <springProfile name="default">
        <logger name="com.test.springlecture" level="INFO"/>
    </springProfile>
</Configuration>